@media (max-width: 2560px) {
    .nav {
        justify-content: start;
    }
}

@media (max-width: 1440px) {
    .card-button {
        top: 18px;
        left: 93%;
    }

    .nav {
        justify-content: start;
    }
}

@media (max-width:1024px) {
    .overflow-lg-visible {
        overflow: visible !important;
    }

    .navbar-nav {
        padding-left: 4%;
    }

    .banner-h {
        height: 670px;
    }

    .banner-contant {
        margin-left: 16%;
        margin-top: 70px;
    }

    .banner-h2 {
        margin-left: -50px;
    }

    .row-custom {
        --bs-gutter-x: -1rem;
    }

    .card-button {
        top: 18px;
        left: 90%;
    }

    .bg-text-title {
        font-size: 190px;
        bottom: -117px !important;
    }

    .card-button-2 {
        top: 30px;
        left: 86%;
    }

    .nav {
        justify-content: start;
    }
}

@media (max-width:768px) {
    #product-list>div {
        width: 50%;
      }
    .banner-h {
        height: 470px;
    }

    .nav {
        justify-content: start;
    }

    .banner-contant {
        margin-left: 22%;
        margin-top: 70px;
    }

    .banner-h2 {
        margin-left: -50px;
    }

    .d-smx-none {
        display: none;
    }

    .row-custom {
        --bs-gutter-x: -1rem;
    }

    .w-97 {
        width: 100%;
    }

    .card-button {
        top: 2px;
        left: 80%;
    }

    .card-button-2 {
        top: 15px;
        left: 74%;
    }
}

@media (max-width: 576px) {
    .card-button {
        top: 2px;
        left: 72%;
    }

    .card-button-2 {
        top: 14px;
        left: 65%;
    }
    #product-list>div {
        width: 50%;
      }
}

@media (max-width:425px) {
    #product-list {
        display: block;
    }

    .banner-h {
        height: 220px;
    }

    .banner-contant {
        margin-left: 31%;
        margin-top: 70px;
    }

    .banner-h2 {
        margin-left: -100px;
    }

    .d-smx-none {
        display: none;
    }

    .row-custom {
        --bs-gutter-x: -1rem;
    }

    .w-97 {
        width: 100%;
    }

    .card-button {
        top: 3px;
        left: 64%;
    }

    .card-button-2 {
        top: 16px;
        left: 54%;
    }

    #product-list>div {
        width: 100%;
    }
}

@media (max-width:375px) {
    #product-list {
        display: block;
    }

    .banner-h {
        height: 220px;
    }

    .banner-contant {
        margin-left: 31%;
        margin-top: 70px;
    }

    .banner-h2 {
        margin-left: -100px;
    }

    .d-smx-none {
        display: none;
    }

    .row-custom {
        --bs-gutter-x: -1rem;
    }

    .w-97 {
        width: 100%;
    }

    .card-button {
        top: 2px;
        left: 63%;
    }

    .card-button-2 {
        top: 14px;
        left: 55%;
    }

    .m-smx-auto {
        margin: auto;
    }

    #product-list>div {
        width: 100%;
    }

}

@media (max-width:375px) {
    #product-list {
        display: block;
    }

    .banner-h {
        height: 220px;
    }

    .banner-contant {
        margin-left: 31%;
        margin-top: 70px;
    }

    .banner-h2 {
        margin-left: -100px;
    }

    .d-smx-none {
        display: none;
    }

    .row-custom {
        --bs-gutter-x: -1rem;
    }

    .w-97 {
        width: 100%;
    }

    .card-button {
        top: 2px;
        left: 59%;
    }

    .card-button-2 {
        top: 14px;
        left: 48%;
    }

    .m-smx-auto {
        margin: auto;
    }

    #product-list>div {
        width: 100%;
    }
}

@media (max-width:320px) {

    #product-list {
        display: block;
    }
    .banner-h {
        height: 220px;
    }

    .banner-contant {
        margin-left: 31%;
        margin-top: 70px;
    }

    .banner-h2 {
        margin-left: -100px;
    }

    .d-smx-none {
        display: none;
    }

    .about-photos {
        margin-top: 28%;
    }

    .w-50 {
        width: 40% !important;
    }

    .card-button {
        top: 3px;
        left: 54%;
    }

    .card-button-2 {
        top: 15px;
        left: 44%;
    }

    .btn-psuedo {
        font-size: 0.6rem;
    }

    .row-custom {
        --bs-gutter-x: -1rem;
    }

    .about-img-1 {
        position: relative;
        left: 30px;
    }

    .about-img-2 {
        margin-left: 4 0px;
        position: relative;
        top: -100px;
        left: -100px;
    }

    .about-img-3 {
        margin-left: -130px;
        position: relative;
        z-index: -1;
        margin-top: -45px;
    }

    .w-97 {
        width: 100%;
    }

    .m-smx-auto {
        margin: auto;
    }

    #product-list>div {
        width: 100%;
    }

    .d-smx-none {
        display: none;
    }
}